/* ===========================
   RESET ET VARIABLES
   =========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-primary: #475ddb;
    --color-secondary: #c4c9e8;
    --color-accent: #ddddf5;
    --color-dark: #3D3D3D;
    --color-light: #f8f8fe;
    --color-gray: #8B8B8B;
    --color-border: #d3d2e8;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ===========================
   CONTAINER
   =========================== */

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
