* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    background-color: #FDFAF6;
}