#hero {
    height: 100px;
}

@media screen and (max-width : 1100px) {
    #hero .container {
        height: 10vh;
        background-color: red;
    }
}



#hero .container{
    max-width: 1000px;
    margin: 0 auto;
}

